{% extends 'base.html.twig' %}

{% block title %} William Tchang | Portfolio {% endblock %}

{% block body %}
    <div class="layout-maxed home">
        <div class="flex flex-col align-items-center presentation">
            <h1 class="page-title-white mb-30">TCHANG Junior <br> Software Developer</h1>
            <p class="page-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, animi! Eius, est excepturi quod obcaecati quisquam, ducimus harum aspernatur sunt dicta beatae, mollitia voluptatibus quia saepe a dolor similique doloremque.</p>
            <a href="{{path('app_contact')}}" class="btn-contact mt-40 mb-70"><div class="in">Contact Me <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></div></a>
            <div class="grid grid-cols-2 gap-20">
                <div class="card-project">
                    <img src="{{ asset('image/branding-project-1.png') }}" alt="">
                    <div class="content flex justify-between align-items-center">
                        <h3 class="title-card">Branding Project</h3>
                        <a href="" class="btn-more">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                        </a>
                    </div>
                </div>
                <div class="card-project">
                    <img src="{{ asset('image/branding-project-2.png') }}" alt="">
                    <div class="content flex justify-between align-items-center">
                        <h3 class="title-card">Branding Project</h3>

                        <a class="btn-more" href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
