<header>
    <div class="top">
        <div class="logo">
            <img src="/data/img/william_tchang_logo.png" alt="Logo">
        </div>
        <div class="name">
            <h2>William Tchang</h2>
        </div>
        <div class="social">
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/william-tchang-429103291/">
                    <img src="/data/img/icon/linkedin.png" alt="Linkedin">
                </a>
            </div>
            <div class="github">
                <a href="https://github.com/ZeWills987">
                    <img src="/data/img/icon/github.png" alt="GitHub">
                </a>
            </div>
            <div class="cv">
                <a href="/data/pdf/CV_TCHANG_WIlliam.pdf" download>
                    <img src="/data/img/icon/cv.png" alt="CV">
                </a>
            </div>
        </div>
    </div>
    <div class="middle">
        <nav>
            <ul>
                <li>
                    <a href="#h">
                        <div class="icon">
                            <img src="/data/img/icon/home.png" alt="Home">
                        </div>
                        <div class="desc">
                            <p>Accueil</p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#a">
                        <div class="icon">
                            <img src="/data/img/icon/utilisateur.png" alt="Home">
                        </div>
                        <div class="desc">
                            <p>A Propos</p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#p">
                        <div class="icon">
                            <img src="/data/img/icon/afficher-le-bouton-des-applications.png" alt="Home">
                        </div>
                        <div class="desc">
                            <p>Portfolio</p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#c">
                        <div class="icon">
                            <img src="/data/img/icon/letter.png" alt="Contact">
                        </div>
                        <div class="desc">
                            <p>Contact</p>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="bottom">
        <p>© 2023 par <a href="https://william-tchang.fr">William Tchang</a></p>
    </div>
</header>