<div class="project">
    <div class="img">
        <img src="/data/img/symfony.png" alt="Symfony Stream">
    </div>
    <div class="contenu">
        <h1>Symfony Stream (2024)</h1>
        <p>Site web intéractif permettant de critiquer des séries. Le site web dispose aussi d'une
            partie réservé exclusivement au adminisatrateurs du site.</p>
        <a href="/data/pdf/symfony.pdf">En savoir plus</a>
        <ul>
            <li>PHP (Symfony)</li>
            <li>API (OMDB)</li>
            <li>Tailwind</li>
            <li>Doctrine</li>
            <li>SCRUM</li>
        </ul>
    </div>
</div>