.btn-contact {
    padding: 10px;
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(255, 146, 104) 0%, rgb(249, 92, 31) 100%);
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;

    .in {
        padding: 5px 10px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        transition: all 0.5s ease-in-out;
    }

    svg {
        padding: 5px;
        width: 25px;
        height: 25px;
        stroke: $orange;
        background-color: $primary;
        border-radius: 30px;
    }

    &:hover {
        color: $orange;
        transition: all 0s ease-in-out;


        .in {
            padding: 5px 10px 5px 15px;
            background-color: $white;
            transition: all 0.5s ease-in-out;
            gap: 10px;
        }
    }
}

.btn-more {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    border-radius: 30px;
    transition:
        padding-left 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    position: relative;
    overflow: hidden;

    svg {
        width: 35px;
        height: 35px;
        stroke: $orange;
        border: none;
    }

    &::before {
        content: "Learn more";
        width: 0;
        height: 30px;
        color: $orange;
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        transition:
            width 0.3s cubic-bezier(0.42, 0, 0.58, 1),
            right 0.5s cubic-bezier(0.42, 0, 0.58, 1);
        right: -145px;
        position: relative;
    }

    &:hover {
        padding-left: 20px;
        transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);

        &::before {
            width: 115px;
            transition:
                width 0.3s cubic-bezier(0.42, 0, 0.58, 1),
                right 0.5s cubic-bezier(0.42, 0, 0.58, 1);
            right: 0;
            position: relative;

        }
    }
}