.nav-pill{
    display: flex;
    list-style: none;
    .nav-item{
        padding: 0 5px;
        &:hover,
        &.active{
            background-color: rgba($primary, 0.1);
        }
    }
    .link{
        display: inline-block;
        font-size: 14px;
        font-family: $ff;
        color: $light;
        padding: 0 15px;
        .icon{
            margin-left: 8px;
        }
        &:hover,
        &.active{
            color: darken($primary, 20);
            border-bottom: 3px solid $primary;
        }
    }
}
