.swiper {

    .swiper-slide-prev {
        filter: blur(2px);
    }

    @media screen and (max-width: $xxlarge) {
        @include blur-after(6);
    }

    @media screen and (max-width: $xlarge) {
        @include blur-after(4);
    }

    @media screen and (max-width: $large) {
        @include blur-after(3);
    }


    @media screen and (max-width: $medium) {
        @include blur-after(2);
    }
}

.next-prev,
.swiper-button-prev,
.swiper-button-next {
    margin: 0 !important;
    position: static;
    color: $primary;
}

.swiper-projects {
    .next-prev {
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .swiper-button-prev,
        .swiper-button-next {
            padding: 5px;
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
        }

        .swiper-button-prev::after,
        .swiper-button-next::after {
            font-size: 15px;
            color: $primary;
        }

        .swiper-button-prev::after {
            margin-right: 2px;
        }

        .swiper-button-next::after {
            margin-left: 2px;
        }
    }

    .swiper-pagination {
        padding: 5px;
        width: max-content;
        left: calc(50% - 48px);
        background-color: rgba($secondary, 0.5);
        --tw-backdrop-blur: blur(5px);
        backdrop-filter: blur(5px);
        border: 1px solid #ffffff26;
        border-radius: 50px;

        .swiper-pagination-bullet {
            background-color: rgba($color: $white, $alpha: 0.8);
        }

        .swiper-pagination-bullet-active {
            background-color: $white !important;
        }
    }
}