.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

@each $color, $value in $colors {
    .text-#{$color} {
        color: $value !important;
    }
}

@each $weight, $value in $weights {
    .weight-#{$weight} {
        font-weight: $value !important;
    }
}


$title-sizes: (
    "14": 14px,
    "16": 16px,
    "18": 18px,
    "22": 22px,
    "25": 25px,
    "30": 30px,
    "35": 35px,
    "40": 40px,
    "50": 50px,
    "60": 60px,
    "75": 75px,
);

@mixin title-style($size) {
    font-size: map-get($title-sizes, "#{$size}");
    line-height: map-get($title-sizes, "#{$size}")+10px;
    font-family: $ff;
    font-weight: 600;
    letter-spacing: 0.75px;
}

@each $size, $value in $title-sizes {
    .title-#{$size} {
        @include title-style($size);
    }
}

.header-title {
    margin: 0;
    display: block;
    font-size: 22px;
    font-family: $ff;
    line-height: 28px;
    font-weight: 600;
}

.page-title {
    @include title-style(30);
    color: $secondary;
    text-align: center;
}

.page-title-white {
    @include title-style(60);
    line-height: 100%;
    text-align: center;
    letter-spacing: 0px;
}

.page .section-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: $dark;
    font-family: Inter, sans-serif;
}

.title-section {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 7.2px;
    color: $secondary;
    opacity: 0.4 !important;
    font-family: "General Sans", sans-serif;
}

.title-section-white {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 7.2px;
    font-weight: 400;
    color: $secondary;
    opacity: 0.6 !important;
    color: $primary;
    font-family: "General Sans", sans-serif;
}

.subtitle {
    font-size: 16px;
    line-height: 22px;
    color: rgba($secondary, 0.6);
    letter-spacing: 0.75px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: nowrap;
}

.title-card {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}