.work-card {
    background-color: $secondary;
    border-radius: 20px;
    position: relative;

    a:hover {
        color: $primary;
    }

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 20px;
        object-fit: contain;
    }

    .content {
        padding: 30px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.55);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 20px;
        box-sizing: border-box;
    }

    .top p {
        letter-spacing: 7.2px;
        color: $gray-2;
        font-size: 18px;
        line-height: 26px;
        font-weight: 300;
    }

    .bottom {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        gap: 10px;
        justify-content: space-between;

        h3 {
            display: -webkit-box;
            font-family: $ff-inter;
            font-size: 18px;
            letter-spacing: 7.2px;
            color: $gray-title;
            font-weight: 300;
            text-transform: uppercase;
            line-clamp: 1;
            overflow: hidden;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }

        p,
        li {
            display: -webkit-box;
            font-family: $ff;
            font-weight: 500;
            font-size: 16px;
            overflow: hidden;
            -webkit-box-orient: vertical;
            word-break: break-word;
            text-overflow: ellipsis;
        }

        p {
            margin: 0;
            -webkit-line-clamp: 3;
        }

        li {
            -webkit-line-clamp: 1;
        }

    }

    .left {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }

    .col {
        padding: 10px 15px;
        background-color: rgba($secondary, 0.5);
        --tw-backdrop-blur: blur(5px);
        backdrop-filter: blur(5px);
        border: 1px solid #ffffff26;
        border-radius: 10px;
    }
}