*{
    text-decoration: dashed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
body{
    background-color: rgb(161, 164, 255);
    opacity: 0.9;
}
#about-me{
    background-color: rgb(249, 198, 198);
}
ul{
    display: flex;
    list-style: none;
    margin: 0 -10px;
    padding: 0%;
    overflow: hidden;
    background-image: url();
    background:linear-gradient(to left, rgb(7, 0, 206),rgb(249, 198, 198)) ;
}
#h-nav li {
    margin: 0 10px;
}
#h-nav li a{
    display: flex;
    padding: 14px 30px ;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
 #h-nav li a:hover{
    color: rgba(17, 17, 17, 0.733);
}  

#presentation img {
    border-radius: 100%;
    padding: 5rem;
    margin-left: 45%;
    width: 10%;
}

center{
    padding-bottom: 60px; 
}
center  a:hover{
    text-decoration: none;
    color: rgba(17, 17, 17, 0.733);
}
.horizontal-scrollable > .row {
    overflow-x:scroll;
    white-space:nowrap;
}
  
.horizontal-scrollable > .row > .col-sm-5 {
    display: inline-block;
    float: none;
}
/* Decorations */
  
.col-sm-5 {
    color: white;
    font-size: 24px;
}
  
.col-sm-5:nth-child(2n+1) {
    background: rgb(249, 198, 198);
}
  
.col-sm-5:nth-child(2n+2) {
    background: rgb(195, 206, 242);
}

footer {
    background-color: rgb(249, 198, 198);
    padding: 50px;
}

#logo img{
    width: 55px;
    height: 55px;
    border-radius: 10%;
}
#img-responsive {
    width: 100%;
    height: auto;
  }
#bd-img{
    width: 100px;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-item-right, .flex-item-left{
      flex: 100%;
    }
}