.work-page {
    h1 {
        margin: 50px 0 50px 0;
        color: $secondary;
        height: max-content;
        font-size: 72px;
        line-height: 80px;
    }

    .works {
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        gap: 20px;
        height: max-content;
    }
}

// MOBILE
@media screen and (max-width:$medium) {
    .work-page {
        h1 {
            margin: 25px 0 25px 0;
            font-size: 48px;
            line-height: 60px;
        }

        .works {
            grid-template-columns: repeat(1, minmax(300px, 1fr));

            .bottom .col:nth-child(2) {
                display: none;
            }
        }
    }
}