nav {
    padding: 20px 0 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav ul {
    padding: 0;
    margin: 0;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    margin: 0 40px 0 0;
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li a#active {
    color: linear-gradient(#e66465, #1AD6E5);
}

nav ul li a {
    color: white;
    text-decoration: none;
    /*
    animation: hidden 4s;
    animation: mouv_horiz 4s;*/
}

nav ul li #active {
    color: #1cf0ff;
}

nav ul li a:hover {
    color: #1cf0ff;
    text-decoration: none;
    transition: 0.5s;
}

nav ul li a h1 {
    margin: 0;
}

nav ul li form input {
    padding: 5px 8px 5px 10px;
    width: 200px;
    border-radius: 15px;
    color: #666;
    border: 0;
    outline: 0;
    /*
    animation: hidden 4s;
    animation: mouv_horiz 4s;*/
    font-size: small;
    font-weight: 100;
}

@keyframes mouv_horiz {
    0% {
        transform: translateX(70px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (min-width:0px) and (max-width:720px) {
    nav:nth-child(1) {
        display: none;
    }

    nav:nth-child(2) {
        display: flex;
    }
}


/* Nav version mobile */