{% extends 'base_admin.html.twig' %}

{% block title %}Edit Params{% endblock %}


{% block body %}
    <div class="layout-maxed params-page edit">
        <div class="bg-dark px-20 py-30 mb-70 all-params">
            <h1>Edit Params</h1>
            {{ include('params/_form.html.twig', {'button_label': 'UPADTE'}) }}

            <a class="btn-back" href="{{ path('app_params_index') }}">BACK TO LIST</a>

            {# {{ include('params/_delete_form.html.twig') }} #}
        </div>
    </div>
{% endblock %}
